
body{
    font-family: "Work Sans", sans-serif;
}
/* ---header section------ */
.container{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    
}
    
  
.banner-text{
    position: absolute;
    width: 40%;
    text-align: right;    
}
.title{
    color: rgb(21, 20, 20);
    font-size: 65px;
    font-weight: 700; 
    width: 525px;
    height: 220px;   
}
.title-description{
    margin-top: 24px;
    width: 67%;
}
.primary-btn{
    margin-top: 32px;
    margin-right: 130px;  
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: rgb(241, 91, 34);
    padding: 10px; 
    margin-right:260px;   
}

/* ----failure section---- */
.failures{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 140px;  
    margin-bottom: 100px;  
}
.failure-content{
    width: 416px;
    height: 400px;
    align-items: start;
}
.failure-content ul{
    display:inline ;
}
.second-type-heading{
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    
    
}
#my-plans{
    display: block;
    justify-content: center;
    align-items: center;
}
ul > li{
    list-style: none; 

     
}
.fa-solid {
    width: 24px;
    height: 24px;
    color:rgb(22, 216, 135) ;
}
/* -----MY plans section---- */

.my-plans-container{
    text-align: center;
}
.skill-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.skills{
    margin: 85px 50px;
}
/* ---positive mindset section---- */
.watch-banner{
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    background-image: url('../images/watch.png');
    
    
}
.watch{
    width: 460px;
    height: 185px;
    margin-left: 65px;
    padding-top: 20px;
  

}
.watch-title{
    color: rgb(54, 13, 13);
    font-size: 40px;
    font-weight: 700;
    
}
.call-now-btn{
    color: brown;
    font-weight: 600;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}
/* -----footer section---- */ 
.footer{
   background-color: black;
   display:flex;
   gap: 400px;
   justify-content:space-around;
   align-items: center;
   margin-top:100px;
   padding: 100px 250px 30px 250px;
  
}
.title-future{
    color: #F8F8F8;
    font-weight:700px;
    font-size: 45px;
}
.future-description{
    color:white;
    font-size: 16px;
    font-weight: 40px;
    text-align: left;
}
.social-media{
padding-top: 20px;
}
.social-media img{
    margin-right: 15px;
}
.subscribe{   
width: 325px;
height: 204px;
padding-bottom: 50px;
}
.subscription-title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    text-align: left; 
    margin-bottom: 30px;
}
.subscription-email{
   height: 30px;
   width: 300px;
   border: 1px solid black;
   border-radius: 5px;
   margin-bottom:15px ;
   padding: 10px;
}
.subscription-btn{
    color: rgb(241, 91, 34);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;

}